<div class="row" *ngIf="showForm">
  <h1 class="text-center">{{getdetail.hospitalName}} - {{getdetail.branchName}}</h1>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="sel1">Select surgeon:</label>
        <select #refHospital="ngModel" required class="form-control" [(ngModel)]="supportStaff.surgeonId" (ngModelChange)="showSurgeonName(supportStaff.surgeonId)">
         <option value="">--select surgeon--</option>
          <option *ngFor="let surgeon of SurgeonName" [ngValue]="surgeon._id">{{surgeon.name}}</option>
        </select>
        <div *ngIf="surgeon_name">
          <div *ngIf="refHospital.errors && (refHospital.dirty || refHospital.touched)" class="alert alert-danger">
            <div [hidden]="!refHospital.errors.required">
              Select Surgeon Name
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <div class="row" *ngIf="showSupport">
    <form #supportAdminForm="ngForm" (ngSubmit)="addSupport(supportStaff)" novalidate>
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="form-group">
          <input type="hidden" class="form-control" placeholder="*New  alias" name="supportStaff.hospitalId" [(ngModel)]="supportStaff.hospitalId">
          <input type="hidden" class="form-control" placeholder="*New  alias" name="supportStaff.branchId" [(ngModel)]="supportStaff.branchId">
          <label>Surgeon Name</label>
          <input type="text" class="form-control" placeholder="*New  alias" name="supportStaff.surgeonName" [(ngModel)]="supportStaff.surgeonName">
        </div>
        <div class="form-group">
          <label>Name</label>
          <input type="text" #refName="ngModel" required class="form-control" placeholder="*Enter Name" name="supportStaff.name" [(ngModel)]="supportStaff.name">
          <div *ngIf="name">
            <div *ngIf="refName.errors && (refName.dirty || refName.touched)" class="alert alert-danger">
              <div [hidden]="!refName.errors.required">
                Enter Name
              </div>

            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="text" #refEmail="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="*Enter email"
            class="form-control" name="supportStaff.email" [(ngModel)]="supportStaff.email">
          <div *ngIf="email">
            <div *ngIf="refEmail.errors && (refEmail.dirty || refEmail.touched)" class="alert alert-danger">
              <div [hidden]="!refEmail.errors.required">
                Enter Email
              </div>
              <div [hidden]="!refEmail.errors.pattern">
                Please enter valid emailid
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Phoneno</label>
          <input type="text" #refPhone="ngModel" required pattern="[789][0-9]{9}" class="form-control" placeholder="*Enter Phoneno"
            name="supportStaff.phoneno" [(ngModel)]="supportStaff.phoneno">
          <div *ngIf="phone_no">
            <div *ngIf="refPhone.errors && (refPhone.dirty || refPhone.touched)" class="alert alert-danger">
              <div [hidden]="!refPhone.errors.required">
                Enter Phone Number
              </div>
              <div [hidden]="!refPhone.errors.pattern">
                Please enter 10 digits
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        
        <div class="form-group">
          <label>Username</label>
          <input type="text" #refUsername="ngModel" required class="form-control" placeholder="*Enter Username" name="supportStaff.username"
            [(ngModel)]="supportStaff.username">
          <div *ngIf="username">
            <div *ngIf="refUsername.errors && (refUsername.dirty || refUsername.touched)" class="alert alert-danger">
              <div [hidden]="!refUsername.errors.required">
                Enter Admin Username
              </div>

            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="text" #refPassword="ngModel" required class="form-control" placeholder="*Enter password" name="supportStaff.password"
            [(ngModel)]="supportStaff.password">
          <div *ngIf="password">
            <div *ngIf="refPassword.errors && (refPassword.dirty || refPassword.touched)" class="alert alert-danger">
              <div [hidden]="!refPassword.errors.required">
                Enter Password
              </div>

            </div>
          </div>
        </div>
         <div class="form-group">
          <label>Upload Image</label>
          <input type="file" #refImage="ngModel" required (change)="fileChangeEvent($event)" class="form-control"   placeholder="Upload file..." ngModel/>
          <div *ngIf="image">
            <div *ngIf="refImage.errors && (refImage.dirty || refImage.touched)" class="alert alert-danger">
              <div [hidden]="!refImage.errors.required">
               Browse Image
              </div>

            </div>
          </div>
        </div> 
        <div class="text-center">
          <button class="btn btn-primary" type="submit" [disabled]="!supportAdminForm.form.valid" style="float:right;">Add Support Staff</button>
          <br><br><br>
        </div>
      </div>
    </form>
    <br><br><br>
    <div class="row" *ngIf="!showTable">
      <div class="col-md-offset-4 col-md-4">
        <h1 class="text-center">No Support Staff</h1>
      </div>
    </div>
    <div class="col-md-offset-1 col-md-10 col-md-offset-2" *ngIf="showForm && showTable">
      <table class="table">
        <thead>
          <tr>
            <th> Name</th>
            <th> Email</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Deactive</th>
          </tr>
        </thead>
        <tbody *ngFor="let supportStaff of supportLists">
          <tr *ngIf="supportStaff.usertype == 'supportstaff'">
            <td>{{supportStaff.name}}</td>
            <td>{{supportStaff.email}}</td>
            <td><button class="btn btn-primary btn-xs" (click)="editSupportStaff(supportStaff._id)">Edit</button></td>
            <td><button class="btn btn-danger btn-xs" (click)="deleteSupportStaff(supportStaff)">Delete</button></td>
            <td><button type="button" class="btn btn-warning btn-xs" (click)="toggleStatus(supportStaff)">{{supportStaff.statusText}}</button>              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row" *ngIf="!showForm">
  <form>
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="*New  Name" name="editSupport.editname" [(ngModel)]="editSupport.editname">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" placeholder="*New Email" name="editSupport.editemail" [(ngModel)]="editSupport.editemail">
      </div>
      <div class="form-group">
        <label>Phoneno</label>
        <input type="text" class="form-control" placeholder="*New Phoneno" name="editSupport.editphoneno" [(ngModel)]="editSupport.editphoneno">
      </div>

      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" placeholder="*New Username" name="editSupport.editusername" [(ngModel)]="editSupport.editusername">
      </div>
    </div>
    <div class="col-md-4">

      <div class="form-group">
        <label>Password</label>
        <input type="text" class="form-control" placeholder="*New Password" name="editSupport.editpassword" [(ngModel)]="editSupport.editpassword">
      </div>
       <div class="form-group">
        <input type="hidden" class="form-control" name="editSupport.filename" [(ngModel)]="editSupport.filename">
        <img src="../../../assets/uploads/{{editSupport.filename}}" width="100px" height="100px">
      </div>
      <div class="form-group">
        <label>Upload Image</label>
        <input type="file" (change)="editFileChangeEvent($event)" class="form-control" placeholder="Upload file..." ngModel/>

      </div>
      <div class="form-group" class="hidden">
        <input type="text" class="form-control" placeholder="*New Hospital id" name="editSupport.hospitalId" [(ngModel)]="editSupport.hospitalId">
      </div>

      <div class="form-group" class="hidden">
        <input type="text" class="form-control" placeholder="*New branch Id" name="editSupport.branchId" [(ngModel)]="editSupport.branchId">
      </div>

      <div class="form-group" class="hidden">
        <input type="text" class="form-control" placeholder="*New branch Id" name="editSupport.surgeonId" [(ngModel)]="editSupport.surgeonId">
      </div>

      <div class="form-group" class="hidden">
        <input type="text" class="form-control" placeholder="*New User Id" name="editSupport.userId" [(ngModel)]="editSupport.userId">
      </div>

      <div class="text-center">
        <button type="button" class="btn btn-primary" (click)="updateSupport(editSupport)">Update</button>
        <button type="button" class="btn btn-danger" (click)="goBack()">Back</button>
      </div>
    </div>
  </form>
</div>