<div class="row" *ngIf="showForm">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <div class="form-group">
        <label for="sel1">Select Hospital:</label>
        <select #refHospitalName="ngModel" required class="form-control" [(ngModel)]="hospitalAdmin.hospitalId" (ngModelChange)="showAddHospitalName(hospitalAdmin.hospitalId)">
              <option value="">--select Hospital--</option>
              <option *ngFor="let hospital of hospitalLists" [ngValue]="hospital._id">{{hospital.hospitalName}}</option>
            </select>
        <div *ngIf="hos_name">
          <div *ngIf="refHospitalName.errors && (refHospitalName.dirty || refHospitalName.touched)" class="alert alert-danger">
            <div [hidden]="!refHospitalName.errors.required">
              Select Hospital Name
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="showAddHospitalAdmin">
    <form #hospitalAdminForm="ngForm" (ngSubmit)="addHospitalAdmin(hospitalAdmin)" novalidate>
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Alias</label>
          <input type="text" class="form-control" placeholder="*New  Name" name="hospital.hospitalAlias" [(ngModel)]="hospital.hospitalAlias">
        </div>
        <div class="form-group">
          <label>Address</label>
          <textarea type="text" class="form-control" placeholder="*New  Name" name="hospital.hospitalAddress" [(ngModel)]="hospital.hospitalAddress"></textarea>
        </div>
        <div class="form-group">
          <label>Admin Name</label>
          <input type="text" #refHospitalAdminName="ngModel" required class="form-control" placeholder="*Admin Name" name="hospitalAdmin.name"
            [(ngModel)]="hospitalAdmin.name">
          <div *ngIf="name">
            <div *ngIf="refHospitalAdminName.errors && (refHospitalAdminName.dirty || refHospitalAdminName.touched)" class="alert alert-danger">
              <div [hidden]="!refHospitalAdminName.errors.required">
                Enter Admin Name
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Select Gender</label>
          <select #refHospitalAdminGender="ngModel" required class="form-control" id="usr" name="hospitalAdmin.gender" [(ngModel)]="hospitalAdmin.gender">
                    <option value="">--select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
          <div *ngIf="gender">
            <div *ngIf="refHospitalAdminGender.errors && (refHospitalAdminGender.dirty || refHospitalAdminGender.touched)" class="alert alert-danger">
              <div [hidden]="!refHospitalAdminGender.errors.required">
                Select Gender
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="text" #refHospitalAdminEmail="ngModel" required class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            placeholder="*Email" name="hospitalAdmin.email" [(ngModel)]="hospitalAdmin.email">
          <div *ngIf="email">
            <div *ngIf="refHospitalAdminEmail.errors && (refHospitalAdminEmail.dirty || refHospitalAdminEmail.touched)" class="alert alert-danger">
              <div [hidden]="!refHospitalAdminEmail.errors.required">
                Enter Hospital Admin Email
              </div>
              <div [hidden]="!refHospitalAdminEmail.errors.pattern">
                Please enter valid emailid
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Phone Number</label>
          <input type="text" #refHospitalAdminPhone="ngModel" pattern="[789][0-9]{9}" required class="form-control" placeholder="* Phone Number"
            name="hospitalAdmin.phoneno" [(ngModel)]="hospitalAdmin.phoneno">
          <div *ngIf="phone_no">
            <div *ngIf="refHospitalAdminPhone.errors && (refHospitalAdminPhone.dirty || refHospitalAdminPhone.touched)" class="alert alert-danger">
              <div [hidden]="!refHospitalAdminPhone.errors.required">
                Enter Phone Number
              </div>
              <div [hidden]="!refHospitalAdminPhone.errors.pattern">
                Please enter 10 digits
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Technical Number</label>
          <input type="text" #refHospitalAdminTechno="ngModel" pattern="[789][0-9]{9}" required class="form-control" placeholder="*Technical Number"
            name="hospitalAdmin.technicalno" [(ngModel)]="hospitalAdmin.technicalno">
          <div *ngIf="tech_no">
            <div *ngIf="refHospitalAdminTechno.errors && (refHospitalAdminTechno.dirty || refHospitalAdminTechno.touched)" class="alert alert-danger">
              <div [hidden]="!refHospitalAdminTechno.errors.required">
                Enter Technical Number
              </div>
              <div [hidden]="!refHospitalAdminTechno.errors.pattern">
                Please enter 10 digits
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Username</label>
          <input type="text" #refHospitalAdminUsername="ngModel" required placeholder="*Username" class="form-control" name="hospitalAdmin.username"
            [(ngModel)]="hospitalAdmin.username">
          <div *ngIf="username">
            <div *ngIf="refHospitalAdminUsername.errors && (refHospitalAdminUsername.dirty || refHospitalAdminUsername.touched)" class="alert alert-danger">
              <div [hidden]="!refHospitalAdminUsername.errors.required">
                Enter Admin Username
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Password:</label>
          <input type="text" #refHospitalAdminPassword="ngModel" required placeholder="*Password" class="form-control" name="hospitalAdmin.password"
            [(ngModel)]="hospitalAdmin.password">
          <div *ngIf="password">
            <div *ngIf="refHospitalAdminPassword.errors && (refHospitalAdminPassword.dirty || refHospitalAdminPassword.touched)" class="alert alert-danger">
              <div [hidden]="!refHospitalAdminPassword.errors.required">
                Enter Admin Password
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Upload Image</label>
          <input type="file" #refImage="ngModel" required (change)="fileChangeEvent($event)" class="form-control" placeholder="Upload file..."
            ngModel/>
          <div *ngIf="image">
            <div *ngIf="refImage.errors && (refImage.dirty || refImage.touched)" class="alert alert-danger">
              <div [hidden]="!refImage.errors.required">
                Browse Image
              </div>

            </div>
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-primary" type="submit" [disabled]="!hospitalAdminForm.form.valid" style="float:right;">Add Hospital Admin</button>
        </div>
      </div>
      <div>
      </div>
    </form>
    <div class="row" *ngIf="!showTable">
      <div class="col-md-offset-4 col-md-4">
        <h1 class="text-center">No Hospital Admin</h1>
      </div>
    </div>
    <div class="col-md-offset-1 col-md-10 col-md-offset-2" *ngIf="showForm && showTable"><br><br>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Type</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Deactive</th>
          </tr>
        </thead>
        <tbody *ngFor="let hospitalAdmin of hospitalAdminList">
          <tr *ngIf="hospitalAdmin.usertype == 'hospitaladmin'">
            <td>{{hospitalAdmin.name}}</td>
            <td>{{hospitalAdmin.username}}</td>
            <td>{{hospitalAdmin.usertype}}</td>
            <td><button type="button" class="btn btn-primary btn-xs" (click)="editHospitalAdmin(hospitalAdmin._id)">Edit</button></td>
            <td><button type="button" class="btn btn-danger btn-xs" (click)="deleteHospitalAdmin(hospitalAdmin._id)">Delete</button></td>
            <td><button type="button" class="btn btn-warning btn-xs" (click)="toggleStatus(hospitalAdmin)">{{hospitalAdmin.statusText}}</button>              </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row" *ngIf="!showForm">
  <form>
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="*New  Name" name="editAdmin.editname" [(ngModel)]="editAdmin.editname">
      </div>
      <div class="form-group">
        <label>Select Gender</label>
        <select class="form-control" id="usr" name="editAdmin.editgender" [(ngModel)]="editAdmin.editgender">
                    
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" placeholder="*New Email" name="editAdmin.editemail" [(ngModel)]="editAdmin.editemail">
      </div>
      <div class="form-group">
        <label>Phone Number</label>
        <input type="text" class="form-control" placeholder="*New phoneno" name="editAdmin.editphoneno" [(ngModel)]="editAdmin.editphoneno">
      </div>
      <div class="form-group">
        <label>Technical Number</label>
        <input type="text" class="form-control" placeholder="*New techno" name="editAdmin.edittechno" [(ngModel)]="editAdmin.edittechno">
      </div>
    </div>
    <div class="col-md-4">

      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" placeholder="*New Username" name="editAdmin.editusername" [(ngModel)]="editAdmin.editusername">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="text" class="form-control" placeholder="*New Password" name="editAdmin.editpassword" [(ngModel)]="editAdmin.editpassword">
      </div>
      <div class="form-group">
        <input type="hidden" class="form-control" name="editAdmin.filename" [(ngModel)]="editAdmin.filename">
        <img src="../../../assets/uploads/{{editAdmin.filename}}" width="100px" height="100px">
      </div>
      <div class="form-group">
        <label>Upload Image</label>
        <input type="file" #refImage="ngModel" required (change)="editFileChangeEvent($event)" class="form-control" placeholder="Upload file..."
          ngModel/>

      </div>
      <div class="form-group" class="hidden">
        <input type="text" class="form-control" placeholder="*New Hospital Id" name="editAdmin.edithospitalId" [(ngModel)]="editAdmin.edithospitalId">
      </div>
      <div class="form-group" class="hidden">
        <input type="text" class="form-control" placeholder="*New Hospital Id" name="editAdmin.edituserid" [(ngModel)]="editAdmin.edituserid">
      </div>
      <div class="text-center">
        <button type="button" class="btn btn-primary" (click)="updateHospitalAdmin(editAdmin)">Update</button>
        <button type="button" class="btn btn-danger" (click)="goBack()">Back</button>
      </div>
    </div>
  </form>
</div>