<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-8">
    <div class="alert alert-success">
      <p style="font-size:27px;">{{hospitalName}}</p>
      <p style="font-size:18px;">{{address}}</p>
    </div>
  </div>
  <div class="col-md-3" style="font-weight:bold;">
    <div class="row">
      <div class="col-md-3">Surgeon</div>
      <div class="col-md-6">Dr. {{surgeonName}}</div>
    </div>
    <div class="row">
      <div class="col-md-3">Date</div>
      <div class="col-md-6">{{todaydate}}</div>
    </div>
  </div>
</div>